

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.head {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

#heading {
  padding: 2px;
  margin-left: 20px;
  width: 800px;
}

.hide {
  display: none;
}

.new_post {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  margin: 20px;
  padding: 5px;
  font-size: medium;
}

.modal_head {
  /* color: aliceblue; */
  display: flex;
  justify-content: space-between;
}

#textbox {
  width: 800px;
  height: 250px;
}

.field {
  margin: 60px;
  margin-right: 180px;
}

.main_div_num {
  border: 1px solid white;
  margin: 40px;
}

.post_head_num {
  color: aliceblue;
  font-size: 30px;
  padding: 5px;
  margin: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.post_div_num {
  color: aliceblue;
  font-size: medium;
  padding: 15px;
  margin: 10px;

  margin-left: 15px;
}

.delete_button_num {
  padding: 5px;
  background-color: black;
  color: aliceblue;
  border: 1px solid white;
  margin: 20px;
  width: 110px;
}

.edit_button_num {
  padding: 5px;
  background-color: black;
  color: aliceblue;
  border: 1px solid white;
  margin: 20px;
  width: 110px;
}

header {
  margin-bottom: 20px;
}

.date_div_num {
  color: aliceblue;
  background-color: black;
  margin-left: 600px;
}
